[submodule "lib/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/nanobench"]
	path = extern/nanobench
	url = https://github.com/martinus/nanobench
[submodule "extern/pareto"]
	path = extern/pareto
	url = https://github.com/alandefreitas/pareto.git
[submodule "extern/jsoncpp"]
	path = extern/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp